.App--intro {
  #address-form {
    width: 100%;
    #address {
      box-sizing: border-box;
      height: $xl-size;
      width: 100%;
    }
    .address-submit {
      display: none;
    }
  }
}

.nav {
  .address-submit {
    display: none;
  }
}

#address-form {
  // height: 3rem;
  width: 30rem;

  #address {
    box-sizing: border-box;
    box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #f3f4f6;
    border-bottom: none;
    height: 4.8rem;
    padding: 0 $l-size;

    &:focus {
      border-bottom: none;
      box-shadow: none;
    }

    &::placeholder {
      color: #7a7a7b;
      font-weight: lighter;
    }

    .address-submit {
      display: none;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .App {
    #address-form {
      display: flex;
      flex-direction: row;
      width: 100%;

      #address {
        // margin-bottom: 0;
        border-radius: 6px 0 0 6px;
        // box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.1);
        box-shadow: none;
      }

      .address-submit {
        display: block;
        background-color: #3acefd;
        height: $xl-size;
        border: none;
        color: white;
        border-radius: 0 6px 6px 0;
        // box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.1);
        padding: 0.75rem;
        transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;

        .location-icon {
          height: 3rem;
        }
      }

      #address:focus + .address-submit {
        box-shadow: none;
      }
    }
  }
}
