.App {
  text-align: center;
  padding: 25px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App--intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;

    .logo {
      height: 6rem;
      padding-right: $s-size;
    }

    .title {
      margin: 0;
      font-size: 6rem;
      font-weight: bold;
    }
  }

  .subtitle {
    font-size: 2rem;
    font-weight: lighter;
    margin: 2.5rem;
  }

  #address-form {
    width: 100%;
    #address {
      box-sizing: border-box;
      height: $xl-size;
      border-bottom: none;
      background-color: #f3f4f6;
      padding: 0 $l-size;
      border-radius: 6px;
      box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.1);
      width: 100%;

      &:focus {
        border-bottom: none;
        box-shadow: none;
      }

      &::placeholder {
        color: #7a7a7b;
        font-weight: lighter;
      }
    }
  }
}

.main {
  display: flex;
  justify-content: space-around;
}

@media (min-width: $desktop-breakpoint) {
  .App--intro {
    .header {
      .logo {
        height: 10rem;
        margin-right: $m-size;
      }
      .title {
        font-size: 10rem;
      }
    }
    .subtitle {
      font-size: 2.5rem;
    }
  }
  #address-form {
  }
}
