@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800");
* {
  font-family: 'Nunito', sans-serif; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.App {
  text-align: center;
  padding: 25px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.App--intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .App--intro .header {
    display: flex;
    align-items: center;
    flex-direction: row; }
    .App--intro .header .logo {
      height: 6rem;
      padding-right: 1.2rem; }
    .App--intro .header .title {
      margin: 0;
      font-size: 6rem;
      font-weight: bold; }
  .App--intro .subtitle {
    font-size: 2rem;
    font-weight: lighter;
    margin: 2.5rem; }
  .App--intro #address-form {
    width: 100%; }
    .App--intro #address-form #address {
      box-sizing: border-box;
      height: 4.8rem;
      border-bottom: none;
      background-color: #f3f4f6;
      padding: 0 3.2rem;
      border-radius: 6px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      width: 100%; }
      .App--intro #address-form #address:focus {
        border-bottom: none;
        box-shadow: none; }
      .App--intro #address-form #address::placeholder {
        color: #7a7a7b;
        font-weight: lighter; }

.main {
  display: flex;
  flex-direction: column;
  align-self: flex-start; }
  .main .nav {
    align-self: flex-start;
    margin-bottom: 4.8rem; }
    .main .nav .header {
      display: flex;
      align-items: center;
      flex-direction: row; }
      .main .nav .header .logo {
        height: 6rem;
        padding-right: 1.2rem; }
      .main .nav .header .title {
        margin: 0;
        font-size: 6rem;
        font-weight: bold; }
  .main .results {
    display: flex;
    flex-direction: row; }
    .main .results .currently {
      height: 75rem;
      background-image: linear-gradient(-195deg, #00c7fdbd 0%, #0096fb 100%);
      box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      width: 33%;
      margin-right: 3.2rem;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.6rem; }
      .main .results .currently .title {
        padding: 1.6rem;
        font-weight: lighter;
        margin: 0; }
      .main .results .currently .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1; }
        .main .results .currently .content .city-date-container {
          flex: 1; }
          .main .results .currently .content .city-date-container .date-time-container {
            display: flex;
            flex-direction: row;
            font-weight: 200;
            font-size: 2rem; }
            .main .results .currently .content .city-date-container .date-time-container p {
              margin: 0 4.8rem; }
        .main .results .currently .content .weather-icon {
          font-family: weather-font;
          color: #fff;
          font-size: 20rem;
          margin: -5rem 0;
          flex: 1; }
        .main .results .currently .content .weather-container {
          font-weight: 100;
          flex: 2; }
          .main .results .currently .content .weather-container .current-temp {
            font-size: 4.8rem;
            font-weight: 700;
            margin: 0;
            margin-bottom: 1.6rem; }
          .main .results .currently .content .weather-container .low-high-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.6rem; }
            .main .results .currently .content .weather-container .low-high-container p {
              margin: 0 4.8rem;
              opacity: 0.75;
              font-size: 2rem; }
          .main .results .currently .content .weather-container .summary {
            font-size: 3.2rem;
            margin: 1.6rem 0;
            font-weight: normal; }
          .main .results .currently .content .weather-container .humidity,
          .main .results .currently .content .weather-container .percipitation {
            margin: 2rem 0;
            opacity: 0.75;
            font-size: 2rem; }
    .main .results .forecast {
      height: 75rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 66%;
      background-image: linear-gradient(-135deg, #fad961 0%, #f76b1c 100%);
      box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      color: white;
      padding: 1.6rem 4.8rem; }
      .main .results .forecast .daily {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%; }
        .main .results .forecast .daily .title {
          padding: 1.6rem;
          font-weight: lighter;
          margin: 0; }
        .main .results .forecast .daily .results {
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .main .results .forecast .daily .results .day-container {
            background: #ffffff;
            box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.11);
            border-radius: 6px;
            color: #f5a623;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 1.6rem; }
            .main .results .forecast .daily .results .day-container:last-child {
              margin-right: 0; }
            .main .results .forecast .daily .results .day-container .day {
              font-size: 2.4rem;
              margin-bottom: 0; }
            .main .results .forecast .daily .results .day-container .date {
              font-size: 2rem;
              margin: 0;
              font-weight: lighter; }
            .main .results .forecast .daily .results .day-container .weather-icon {
              font-size: 12rem; }
            .main .results .forecast .daily .results .day-container .temperature {
              margin: 0;
              font-size: 3rem; }
      .main .results .forecast .hourly {
        display: flex;
        flex-direction: row;
        flex: 1; }

@media (min-width: 45rem) {
  .App--intro .header .logo {
    height: 10rem;
    margin-right: 1.6rem; }
  .App--intro .header .title {
    font-size: 10rem; }
  .App--intro .subtitle {
    font-size: 2.5rem; } }
